<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
	    <div class="row" hidden$={{logged}}>
		<h1>Ingrese a la App</h1>
        </div>
	<div class="row" hidden$={{logged}}>
            Email: <input type="email" value="{{email::input}}" >
        </div>
	<div class="row" hidden$={{logged}}>
            Password: <input type="password" value="{{password::input}}" >
        </div>
	    <div class="row" hidden$={{logged}}>
	    <button on-click="login" type="button" name="login">LOGIN</button>
        </div>
	<div class="row" hidden$={{!logged}}>
	    <span>BIENVENIDO A LA APLICACIÓN</span>
        </div>
    </div>

    <iron-ajax id="doLogin" url="http://localhost:3000/Login" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers='Access-Control-Allow-Headers: *' on-response="manageAJAXResponse" on-error="showError"></iron-ajax>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      
      static get properties() {
                return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }
      
      login() {
	      var loginData = {
		"email": this.email,
		"password": this.password
	      };

	      console.log(loginData);

	      this.$.doLogin.body = JSON.stringify(loginData);
	      this.$.doLogin.generateRequest();

	      console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
	console.log("Respuesta recibida del servidor", data.detail.response);
	this.logged = true;
      }

      showError(error) {
	console.log("Ocurrió un error", error);
	alert("Login inválido...");
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
