<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <img src="https://image.flaticon.com/icons/svg/1085/1085260.svg" width="200px" height="200px">
        </div>
        <div class="row">
            <button class="btn btn-secondary" on-click="incrementar">Cargar Datos</button>
            <input type="text" value="{{prop1::input}}" >
            <input type="text" value="[[prop1]]" >
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th>ID  </th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </thead>
                <tbody>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Selena</td>
                        <td>Mora</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Leandro</td>
                        <td>Gao</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
                return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      
      incrementar() {
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      } 
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
